<mat-toolbar class="navigation">

  <button class="btn btn-bar btn-lg" (click)="opened=!opened"><i class="fa fa-bars" aria-hidden="true"></i></button>
  <img src="\assets\images\app_logo.png" alt="App Name" height="55px" />
  <a href="#" class="name">Polyrepo</a>
  <span class="example-spacer"></span>
  

  <span class="example-spacer"></span>
  <a href="{{url}}" target="_blank" class="name" id="orgName">{{name}} </a><br />
  <img src="{{avatarUrl}}" alt="Avatar" height="75%" />
</mat-toolbar>

<div>
  <mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="opened">
      <div class="overflow-auto filtersettingdiv">
        <mat-selection-list #filterr [multiple]="false" (selectionChange)="onChangeSideNav($event)">
          <mat-list-option *ngFor="let filter of filters" [value]="filter.name" [selected]="filter.selected" >
            <span style="font-size: 17px">
              {{ filter.name }}
            </span>
          </mat-list-option>
        </mat-selection-list>
      </div>

      <br />

    </mat-sidenav>
    <mat-sidenav-content>
      <div class="row">
        <div class="col-12 content">

          <!-- Dashboard -->
          <div *ngIf="filterr.selectedOptions.selected[0]?.value == 'Dashboard'">
            <app-dashboard></app-dashboard>
          </div>

          <!-- Organization -->
          <div *ngIf="filterr.selectedOptions.selected[0]?.value == 'Organization'">
            <app-organization></app-organization>
          </div>

          <!-- issues analysis -->
          <div *ngIf="filterr.selectedOptions.selected[0]?.value == 'Issue Analysis'">
            <app-issueanalysis></app-issueanalysis>
          </div>

          <!-- pr analysis -->
          <div *ngIf="filterr.selectedOptions.selected[0]?.value == 'PR Analysis'">
            <app-pranalysis></app-pranalysis>
          </div>

          <!-- Branch Analysis -->
          <div *ngIf="filterr.selectedOptions.selected[0]?.value == 'Branch Analysis'">
            <app-branchanalysis></app-branchanalysis>
          </div>


        </div>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>