<mat-toolbar class="navigation">
    <img src="\assets\images\app_logo.png" alt="App Name" height="55px" />
    <a href="#" class="navbar-app">Polyrepo</a>
    <span class="example-spacer"></span>
    <div class="containerDemo">
        <form>
            <!--signup-->
            <button class="btn btn-success btn1" (click)="login()" type="button">
                Login / Sign up with GitHub
            </button>
        </form>
    </div>
</mat-toolbar>

<!-- Body -->
<div class="containerBody" style="height: 47%;">
    <div class="row">
        <div class="col a"><p>Build for </p><br><p>professional teams</p></div>
        <div class="col b"><img src="assets\images\Asset_1.svg" height="60%" alt="Dashboard Image"></div>
    </div>
</div>

<!-- cards -->
<div class="containerCard">
    <div class="row">

        <!-- Visualize process -->
        <div class="col">
            <mat-card class="example-card block">
                <img mat-card-image src="assets\images\visualize_process.png" alt="Visualize process">
                <mat-card-content>

                    <h2 style="text-align: center;font-family: Cambria;"><strong>Visualize process</strong></h2>

                </mat-card-content>
            </mat-card>
        </div>

        <!-- Filter Analysis -->
        <div class="col">
            <mat-card class="example-card block">
                <img mat-card-image src="assets\images\filter_analysis.png" alt="Filter Analysis">
                <mat-card-content>
                    <h2 style="text-align: center;font-family: Cambria;"><strong>Filter Analysis</strong></h2>
                </mat-card-content>
            </mat-card>
        </div>

        <!-- PR Analysis -->
        <div class="col">
            <mat-card class="example-card block">
                <img mat-card-image src="assets\images\pull_request.png" alt="PR Analysis">
                <mat-card-content>
                    <h2 style="text-align: center;font-family: Cambria;"><strong>PR Analysis</strong></h2>
                </mat-card-content>
            </mat-card>
        </div>

        <!-- Settings Analysis -->
        <div class="col">
            <mat-card class="example-card block">
                <img mat-card-image src="assets\images\setting_analysis.jpg" alt="Settings Analysis">
                <mat-card-content>
                    <h2 style="text-align: center;font-family: Cambria;"><strong>Branch Analysis</strong></h2>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<!-- for routing -->
<div>
    <router-outlet></router-outlet>
</div>