
<mat-tab-group>
    <mat-tab label="Trend Analysis"> <br>

        <button class="btn btn-primary btn-sm" (click)="reload()" style="margin-left: 10px;">Refresh</button>
        <button class="btn btn-primary btn-sm" (click)="openPDF()" style="margin-left: 10px;">Download</button>
        <h4>
        </h4>


        <div>
            <div *ngIf="isLoading" class="load">
                <mat-progress-spinner mode="indeterminate" diameter="70">
                </mat-progress-spinner>
              </div>
            <div style="display:block; height: 90%; width: 90%;" id="chartData">
                <canvas *ngIf="isShow" baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"    
                    [chartType]="barChartType"
                >      
                </canvas>
            </div>
        </div>
    

    </mat-tab>

</mat-tab-group>