<mat-toolbar class="navigation">
    <p class="navbar-app">Dashboard</p>
    <span class="example-spacer"></span>
    <div class="containerDemo">
        <form>
            <!--signup-->
            
        </form>
    </div>
</mat-toolbar>

<mat-tab-group>
    <mat-tab label="Trend Analysis"> <br>

        <h4>
        </h4>

    </mat-tab>
    <mat-tab label="Saved Analysis"><br />

        <h4>
        </h4>

    </mat-tab>
    <mat-tab label="Recent Analysis"> <br>

        <h4>
        </h4>

    </mat-tab>
    <!-- <mat-tab label="Search By Label"> Content 3 </mat-tab>
    <mat-tab label="Issue Division"> Content 3 </mat-tab> -->

</mat-tab-group>