.load{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background: white;
}
h4{
    text-align-last: center;
}
.mat-progress-spinner ::ng-deep circle {
    stroke: #2A79FF;
}