.criticalButton{
    /* float: right; */
    margin-left: 5%;
}

.avgTime{
    margin : 0% 1%;
}

.criticalIssueList{
    padding: 2% 2% 1% 1%;
}

.avgTimeList{
    padding: 2% 2% 1% 1%;
}
h4{
    font-size: large;
}

.load{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background: white;
}
.mat-progress-spinner ::ng-deep circle {
    stroke: #2A79FF;
}
::ng-deep .orgName{
    width: 60% !important; 
    border-radius: 3px !important;
    border: 1px solid gray !important;
}