::ng-deep .mat-tab-label-content {
    font-size: large;
}
h4{
    font-size: large;
}
a {
    color:black;
    text-decoration: none;
}
th{
    font-size: medium;
}
.btn-sm{
    margin-left: 1%;
}
.load{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background: white;
}
.mat-progress-spinner ::ng-deep circle {
    stroke: #2A79FF;
}